header{
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.logo{
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e6e6e6;
}
.event-slide{
    margin-left: 62px !important;
    width: 435px;
    height: 42px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 20px 20px 20px 0;
    display: flex;
    align-items: flex-start;
    padding: 0 20px !important;
    position: relative;
    font-size: 13px;
}
.event-slide li{
    height: 42px;
    display: flex;
    align-items: center;
}
.event-slide .event-slide-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.menu{
    margin-left: auto;
    padding-right: 43px;
    display: flex;
    align-items: center;
}
.menu button{
    transition: 0.35s ease;
}
.menu button:hover{
    opacity: 0.6;
}
.menu .push-alarm-content a{
    transition: 0.35s ease;
}
.menu .push-alarm-content a:hover{
    opacity: 0.6;
}

.menu .push-alarm-wrap{
    position: relative;
    margin-right: 36px;
}
.menu .push-alarm-btn{
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    width: 147px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 9px;
    font-size: 13px;
    font-weight: 600;
}
.menu .push-alarm-btn span{
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
}
.menu .push-alarm-content{
    position: absolute;
    top: 44px;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease;
}
.menu .push-alarm-wrap.show .push-alarm-content{
    opacity: 1;
    visibility: visible;
}
.menu .alarm-btn{
    margin-right: 26px;
}
.menu .darkmode-btn{
    margin-right: 26px;
}
.profile-wrap .profile-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

main{
    min-height: 100vh;
    display: flex;
    padding-bottom: 172px;
}
.aside{
    width: 220px;
    padding-top: 220px;
    height: max-content;
    height: 100vh;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.gnb{
    padding-bottom: 180px;
}
.gnb li{
    width: 112px;
    height: 40px;
    margin: 0 auto 36px;
    border-radius: 7px;
    opacity: 0.55;
}
.gnb li.active{
    opacity: 1;
    background-color: #F6F6F6;
}
.gnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100%;
}
.back-link{
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
    display: flex;
    align-items: center;
    transition: 0.35s ease;
}
.back-link:hover{
    opacity: 0.6;
}
.menu .later-btn{
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    padding: 20px;
    margin-right: 25px;
}
.menu .next-btn{
    width: 122px;
    height: 50px;
    border-radius: 7px;
    background-color: #FFEEEB;
    color: #FF5621;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

/* header - style2 */

.header-style2 .logo{
    border-right: none;
    width: 100px;
    margin-right: 7px;
}

/* header - style2 */


footer{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}
footer .upgrade-graph{
    position: relative;
}
footer .upgrade-graph-text{
    position: absolute;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%,-50%);
}
footer .upgrade-graph-text h2{
    font-size: 12px;
    color: #bdbdbd;
    margin-bottom: 12px;
    text-align: center;
}
footer .upgrade-graph-text h2 span{
    color: #FF5530;
    font-weight: 600;
}
footer .upgrade-graph-text p{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
footer .upgrade-btn{
    margin-top: 14px;
    width: 97px;
    height: 33px;
    border-radius: 8px;
    background: rgba(243, 82, 13, 0.1);
    margin: 14px auto 32px;
    text-align: center;
    font-size: 12px;
    color: #FF5530;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer .copyright{
    font-size: 11px;
    font-weight: 300;
    color: #656565;
    text-align: center;
    letter-spacing: 0.5px;
}


.content{
    padding-left: 220px;
    width: 100%;
    height: 100%;
}
section{
    width: 100%;
    padding-top: 100px;
}
.inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.sec-title{
    padding-top: 100px;
    margin-bottom: 40px;
    position: relative;
}
.sec-title p{
    font-size: 18px;
    color: #b3b3b3;
    margin-bottom: 23px;
}
.sec-title h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: #A3A3A3;
}
.sec-title h2 span{
    color: #000;
}
.sec-title h3{
    font-size: 26px;
    font-weight: 600;
}

.sub-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.sub-title h3{
    font-size: 16px;
    font-weight: 600;
}
.sub-title a{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
}
.sub-title a img{
    transition: 0.35s ease;
}
.sub-title a:hover img{
    transform: translateX(10px);
}

.row{
    display: flex;
    gap: 30px;
}

.pos-text{
    position: absolute;
    bottom: 23px;
    right: 28px;
    margin-left: auto;
    font-size: 12px;
    font-weight: 800;
    color: #CACACA;
    letter-spacing: 7.2px;
    z-index: 0;
}
.pos-img{
    position: absolute;
    right: 0;
    bottom: 133px;
    z-index: 0;
}


/* card */

.card{
    width: 263px;
    height: 255px;
    border: 1px solid #eee;
    border-radius: 18px;
    transition: 0.35s ease;
}
.card a{
    padding: 30px 28px;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0);
}
.card:hover{
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1)
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.card-title .date{
    font-size: 15px;
    color: #bababa;
}
.card-title .circle-tag{
    display: flex;
}
.card-title .circle-tag span{
    min-width: 13px;
    min-height: 13px;
    max-width: 13px;
    max-height: 13px;
    border-radius: 100%;
}
.card-title .circle-tag .fill-circle{
    background-color: #FF5530;
}
.card-title .circle-tag .border-circle{
    border: 1px solid #FF5530;
    margin-right: -5px;
}
.card h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.card-tag{
    position: absolute;
    bottom: 30px;
    left: 28px;
    font-size: 12px;
}
.card-tag span{
    padding: 0 12px;
    height: 28px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-tag .red-style{
    background-color: #FFEEEB;
    color: #FF5530;
}
.card-tag .white-style{
    background-color: #F8F8F8;
    color: #000;
}
.card-tag .blue-style{
    background-color: #E5E1FF;
    color: #5F53EF;
}

/* card */


/* select */

.filter{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter .left{
    display: flex;
    gap: 20px;
}
.select{
    position: relative;
    width: max-content;
}
.selectTop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 14px;
    color: #767676;
    height: 20px;
    padding: 0 15px;
    transition: 0.35s ease;
    max-width: max-content;
    min-width: 100px;
    width: max-content;
}
.selectContent{
    width: 100%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    border: 1px solid #ddd;
    border-top: none;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease;
    z-index: 1000;
}
.selectContent.show{
    opacity: 1;
    visibility: visible;
}
.selectContent button{
    font-size: 13px;
    color: #767676;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    transition: 0.35s ease;
}
.selectContent button:hover{
    color: #000;
}

/* select */


/* filter button */

.filter .right{
    display: flex;
    gap: 16px;
}
.filter .right button{
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-btn{
}
.bookmark-btn img{
    width: 17px;
    height: 17px;
}

/* filter button */



/* pagination */

.pagination ul{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.pagination li a{
    width: 38px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #0a0a0a;
    border: 1px solid #eee;
    transition: 0.35s ease;
}
.pagination li a:hover{
    opacity: 0.6;
}
.pagination li.active a{
    background-color: #FF5530;
    border: 1px solid #FF5530;
    color: #fff;
}
.pagination li.pagination-next a{
    border: none;
}
.pagination li.pagination-prev a{
    border: none;
}

/* pagination */




/* popup */

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100000000;
    width: 1140px;
    height: calc(100vh - 120px);
    height: 810px;
    background-color: #fff;
    border: 1px solid #eee;
    transition: 0.35s ease;
    opacity: 0;
    visibility: hidden;
}
.popup.active{
    opacity: 1;
    visibility: visible;
}
.popup-header{
    width: 100%;
    height: 78px;
    border-bottom: 1px solid #eee;
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-header h3{
    font-size: 18px;
    font-family: "Gotham";
    font-weight: 700;
    color: #B3B3B3;
    display: flex;
    align-items: center;
    gap: 7px;
}
.popup-header h3 span{
    font-family: "Spoqa Han Sans Neo";
    color: #000;
    font-size: 16px;
}
.popup-menu{
    display: flex;
    align-items: center;
    gap: 36px;
}
.dim{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    transition: 0.35s ease;
    opacity: 0;
    visibility: hidden;
}
.dim.active{
    opacity: 1;
    visibility: visible;
}
.success-btn{
    width: 104px;
    height: 42px;
    border-radius: 6px;
    background-color: #FF5530;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content{
    display: flex;
    height: calc(100% - 78px);
}
.popup-content > div{
    width: 50%;
    height: 100%;
}
.popup-content .content-input{
    border-right: 1px solid #eee;
    overflow: hidden;
}
.popup-content .toggle-content01,
.popup-content .toggle-content02{
    padding: 0 30px 18px;
}
.popup-content .content-input li h4{
    font-size: 14px;
    color: #0a0a0a;
    margin-top: 34px;
    margin-bottom: 8px;
    font-weight: 500;
    display: block;
}
.popup-content .content-input li input:not([type="file"]){
    width: 100%;
    height: 56px;
    border: 2px solid #eee;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
}
.popup-content .content-input li .content-desc{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 56px;
    border: 2px solid #eee;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease;
    padding: 20px 20px;
    font-size: 14px;
    font-weight: 500;
    height: 113px;
    min-height: 113px;
    max-height: 113px;
}
.popup-content .content-input li input:not([type="file"]):focus{
    border: 2px solid #000;
}
.popup-content .content-input li input[type="file"]{
    display: none;
}
.popup-content .content-input li input[type="file"] + label{
    width: 102px;
    height: 102px;
    border-radius: 25px;
    border: 2px dashed #FF5621;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #FF5530;
    gap: 4px;
}
.popup-content .content-input li input[type="file"] + label img{
    transform: translateY(3px);
}

.popup-content .content-example{
    position: relative;
    height: 100%;
    padding-top: 120px;
}
.popup-content .example-content{
    margin-bottom: 56px;
}
.popup-content .content-example .example-img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 30px);
    width: calc(100% - 60px);
    overflow: hidden;
}
.popup-content .content-example .example-img img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.popup-content .example-item{
    position: relative;
    width: calc(432px - 32px);
    width: 466px;
    padding: 16px 16px 24px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}
.popup-content .example-item .example-pos-text{
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 14px;
    color: #515151;
    font-weight: 300;
}
.popup-content .example-item .top{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #767676;
    margin-bottom: 16px;
}
.popup-content .example-desc .thumbnail{
    position: absolute;
    top: 55px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.popup-content .example-desc .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popup-content .example-desc h3{
    font-size: 16px;
    font-weight: 600;
    color: #0a0a0a;
    margin-bottom: 10px;
    width: 360px;
    max-width: 360px;
    min-height: 18px;
    line-height:1.5;
}
.popup-content .example-desc p{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: #767676;
    max-width: 360px;
    min-height: 24px;
}
.popup-content .example-tag{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    padding: 0 13px;
    font-family: "Gotham";
    border-radius: 14px;
    height: 35px;
}
.popup-content .example-tag.orange-style{
    background-color: #FF5530;
}
.popup-content .example-tag.black-style{
    background-color: #000;
}
.popup-content .example-tag.hide{
    display: none;
}
.popup-content .example-tag.hide.black-style + .example-content{
    display: none;
}

.toggle-content-header{
    width: 100%;
    height: 80px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.toggle-content-header + .toggle-content01{
    display: none;
}
.toggle-content-header.active + .toggle-content01,
.toggle-content-header.active + .toggle-content02{
    display: block;
}
.toggle-content-header + .toggle-content02{
    display: block;
}
.toggle-content-header.hide{
    display: none;
}
.toggle-content-header.hide + .toggle-content02{
    display: none;
}
.toggle-content-header.active img{
    transform: rotate(0);
}
.toggle-content-header.active p{
    color: #0a0a0a;
}
.toggle-content-header:first-child{
    border-top: none;
}
.toggle-content-header span{
    font-size: 11px;
    color: #fff;
    font-weight: 500;
    font-family: "Gotham";
    display: flex;
    align-items: center;
    padding: 0 13px;
    border-radius: 14px;
    margin-right: 26px;
    height: 35px;
}
.toggle-content-header span.orange-style{
    background-color: #FF5530;
}
.toggle-content-header span.black-style{
    background-color: #000;
}
.toggle-content-header p{
    font-size: 14px;
    color: #818181;
    font-weight: 500;
    transition: 0.35s ease;
}
.toggle-content-header img{
    margin-left: auto;
    transform: rotate(180deg);
    transition: 0.35s ease;
}

/* popup */



/* toggle */

.toggle{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #0a0a0a;
    font-weight: 600;
}
.toggle-btn-wrap{
    position: relative;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: #D6D6D6;
}
.toggle-btn{
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    left: 1px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.35s ease;
    border-radius: 100%;
}
.toggle.active .toggle-btn{
    left: 17px;
    background-color: #FF5530;
}

/* toggle */