header{
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.logo{
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e6e6e6;
}
.event-slide{
    margin-left: 62px !important;
    width: 435px;
    height: 42px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    border-radius: 20px 20px 20px 0;
    display: flex;
    align-items: flex-start;
    padding: 0 20px !important;
    position: relative;
    font-size: 13px;
}
.event-slide li{
    height: 42px;
    display: flex;
    align-items: center;
}
.event-slide .event-slide-btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.menu{
    margin-left: auto;
    padding-right: 43px;
    display: flex;
    align-items: center;
}
.menu button{
    transition: 0.35s ease;
}
.menu button:hover{
    opacity: 0.6;
}
.menu .push-alarm-content a{
    transition: 0.35s ease;
}
.menu .push-alarm-content a:hover{
    opacity: 0.6;
}

.menu .push-alarm-wrap{
    position: relative;
    margin-right: 36px;
}
.menu .push-alarm-btn{
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    width: 147px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 9px;
    font-size: 13px;
    font-weight: 600;
}
.menu .push-alarm-btn span{
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #fff;
}
.menu .push-alarm-content{
    position: absolute;
    top: 44px;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease;
}
.menu .push-alarm-wrap.show .push-alarm-content{
    opacity: 1;
    visibility: visible;
}
.menu .alarm-btn{
    margin-right: 26px;
}
.menu .darkmode-btn{
    margin-right: 26px;
}
.profile-wrap .profile-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

main{
    display: flex;
    padding-bottom: 172px;
}
.aside{
    width: 220px;
    padding-top: 220px;
    height: max-content;
    height: 100vh;
    border-right: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.gnb{
    padding-bottom: 180px;
}
.gnb li{
    width: 112px;
    height: 40px;
    margin: 0 auto 36px;
    border-radius: 7px;
    opacity: 0.55;
}
.gnb li.active{
    opacity: 1;
    background-color: #F6F6F6;
}
.gnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 100%;
}

footer{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}
footer .upgrade-graph{
    position: relative;
}
footer .upgrade-graph-text{
    position: absolute;
    top: calc(50% + 10px);
    left: 50%;
    transform: translate(-50%,-50%);
}
footer .upgrade-graph-text h2{
    font-size: 12px;
    color: #bdbdbd;
    margin-bottom: 12px;
    text-align: center;
}
footer .upgrade-graph-text h2 span{
    color: #FF5530;
    font-weight: 600;
}
footer .upgrade-graph-text p{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
footer .upgrade-btn{
    margin-top: 14px;
    width: 97px;
    height: 33px;
    border-radius: 8px;
    background: rgba(243, 82, 13, 0.1);
    margin: 14px auto 32px;
    text-align: center;
    font-size: 12px;
    color: #FF5530;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
footer .copyright{
    font-size: 11px;
    font-weight: 300;
    color: #656565;
    text-align: center;
    letter-spacing: 0.5px;
}


.content{
    padding-top: 100px;
    padding-left: 220px;
    width: 100%;
    height: 100%;
}
.content .inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.sec-title{
    padding-top: 100px;
    margin-bottom: 40px;
}
.sec-title h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: #A3A3A3;
}
.sec-title h2 span{
    color: #000;
}

.sub-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.sub-title h3{
    font-size: 16px;
    font-weight: 600;
}
.sub-title a{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
}
.sub-title a img{
    transition: 0.35s ease;
}
.sub-title a:hover img{
    transform: translateX(10px);
}

.row{
    display: flex;
    gap: 30px;
}


/* card */

.card{
    width: 263px;
    height: 255px;
    border: 1px solid #eee;
    border-radius: 18px;
    transition: 0.35s ease;
}
.card a{
    padding: 30px 28px;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.0);
}
.card:hover{
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1)
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.card-title .date{
    font-size: 15px;
    color: #bababa;
}
.card-title .circle-tag{
    display: flex;
}
.card-title .circle-tag span{
    min-width: 13px;
    min-height: 13px;
    max-width: 13px;
    max-height: 13px;
    border-radius: 100%;
}
.card-title .circle-tag .fill-circle{
    background-color: #FF5530;
}
.card-title .circle-tag .border-circle{
    border: 1px solid #FF5530;
    margin-right: -5px;
}
.card h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.card-tag{
    position: absolute;
    bottom: 30px;
    left: 28px;
    font-size: 12px;
}
.card-tag span{
    padding: 0 12px;
    height: 28px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-tag .red-style{
    background-color: #FFEEEB;
    color: #FF5530;
}
.card-tag .white-style{
    background-color: #F8F8F8;
    color: #000;
}
.card-tag .blue-style{
    background-color: #E5E1FF;
    color: #5F53EF;
}

/* card */